* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

section {
  background-color: black;
  background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section .converterWrapper {
  background-color: rgb(60, 28, 61);
  height: 50%;
}